@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  html{
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-duration: 300ms;
  }
   body {
      background-color: #fff;
      color: #1a202c;
   }
   [data-theme="dark"] body,
   body[data-theme="dark"] {
      background-color: #111827;
      color: #f3f4f6;
   }
}

@plugin "daisyui";

 .merinda{
    font-family: 'Merienda', cursive, 'Segoe UI', sans-serif; }